.bundle
db/*.sqlite3
log/*.log
tmp/**/*
doc
tmp
log
db/schema.rb
public/stylesheets/compiled/ie.css
public/stylesheets/compiled/print.css
public/stylesheets/compiled/screen.cssconfig/database.yml
public/stylesheets/compiled/
config/database.yml
public/stylesheets/*.css
