.bundle
db/*.sqlite3
log/*.log
tmp/**/*
doc
tmp
log
config/database.yml
.sass-cache/
config/configuration.yml
coverage/
config/local.yml
public/stylesheets/compiled
tags
*.swp
coverage.data
config/exceptional.yml
public/stylesheets/*
