.bundle
db/*.sqlite3
log/*.log
tmp/**/*
doc
tmp
log
config/database.yml
config/sunspot.yml
.sass-cache/
config/configuration.yml
coverage/
config/local.yml
public/stylesheets/compiled
tags
*.swp
config/exceptional.yml
public/stylesheets/*
solr/data/
solr/pids/
