%section.container
  .row
    .span12
      .hero-unit
        .row
          .span1
            .pull-left= xfinger_image(@person)
          .span11
            %h1= @person.name

  = render(:partial => 'info', :locals => {:person => @person})
  = render(:partial => 'purchases', :locals => {:person => @person, :purchases => @person.purchases.unpaid}) if @person.purchases.any?
