.row-fluid
  .span12
    .hero-unit
      %h1= @person.name

= render(:partial => 'info', :locals => {:person => @person})

= render(:partial => 'debts', :locals => {:person => @person}) if @person.debts.any?
= render(:partial => 'purchases', :locals => {:person => @person}) if @person.purchases.any?
