%section.row-fluid#history
  .span12
    %h2 Historik
    %table.table.table-striped
      %thead
        %tr
          %th Status
          %th Tidpunkt
          %th Person
      %tbody
        - purchase.state_history.each do |version|
          %tr
            %td= status version
            %td= l version.version_date, format: :long
            %td= link_to_originator version
