%section.row-fluid#items
  .span12
    %h2 Inköpsdelar
    %table.table.table-striped
      %thead
        %tr
          %th Kommentar
          %th Produkttyp
          %th Summa
      %tbody
        - purchase.items.each do |item|
          %tr
            %td= item.comment
            %td= item.product_type
            %td= number_to_currency item.amount
      %tfoot
        %tr
          %th
          %th Total
          %th= number_to_currency purchase.total
