%nav.pull-right
  .btn-group
    - if purchase.editable? && ! purchase.confirmed?
      = button_to t('.confirm'), confirm_purchase_path(purchase), :method => :put, :confirm => t('are_you_sure')
      = button_to t('.cancel'), cancel_purchase_path(purchase), :method => :put, :confirm => t('are_you_sure')
    - if purchase.keepable?
      = button_to t('.bookkeep'), keep_purchase_path(purchase), :method => :put, :confirm => t('are_you_sure')
    - if purchase.payable?
      = button_to t('.pay'), pay_purchase_path(purchase), :method => :put, :confirm => t('are_you_sure')
