%h1 Inköp

- if @purchases.any?
  %table
    %thead
      %tr
        %th ID
        %th Beskrivning
        %th Summa
        %th Köpt av
    %tbody
      - for purchase in @purchases
        %tr{:class => cycle(:odd, :even)}
          %td= purchase.id
          %td= link_to purchase.description, purchase
          %td= currency purchase.total
          %td= link_to purchase.person.name, purchase.person

