%h1 Inköp
- if can?(:manage, Purchase)
  = render :partial => "modify_form", :locals => {:purchase => @purchase}

= render :partial => 'info', :locals => {:purchase => @purchase}
= render :partial => 'items', :locals => {:purchase => @purchase}
= render :partial => 'history', :locals => {:purchase => @purchase}

