@import 'partials/colors'
@import 'partials/structure'
@import 'partials/formtastic'

/* Typography presets
 * ------------------
 */
 
.gigantic
  font-size: 105px
  line-height: 120px
  letter-spacing: -2px

.huge, h1
  font-size: 32px
  line-height: 36px
  letter-spacing: -2px

.large, h2
  font-size: 28px
  line-height: 32px
  letter-spacing: -1px

.big, h3
  font-size: 24px
  line-height: 26px

.normal, body
  font: 16px/1.5 Helvetica, Arial, sans-serif

.small, small
  font-size: 13px
  line-height: 18px


nav#main_menu
  display: block
  width: 100%
  ul
    margin-left: auto
    margin-right: auto
    list-style: none
    li
      border-bottom: 1px solid lightgrey
      width: 48%
      height: 80px
      margin: 2px
      display: inline-block
      background-color: lightgray
      vertical-align: middle

      a
        display: block
        border-bottom: 0px
        vertical-align: middle
        height: 100%
        padding: auto auto

fieldset
  border-top: 1px solid black
  padding: 1em
  legend
    text-align: left
