%h2 Välkommen!
%p ...till Datasektionens vid KTH inköps- och skuldtracker.

%hr

- if user_signed_in?
  %h3= t 'common_actions'
  = link_to t('navigation.new_purchase'), new_purchase_path 
- else
  = link_to "Logga in", new_session_path
