common: &common
  ldap_basedn: ou=Addressbook,dc=kth,dc=se
  ldap_host: ldap.kth.se
  ldap_port: 389
  default_host: "cashflow.staging.datasektionen.se"
  google_analytics: UA-SOMERANDOMSTRING
  mage_url: "http://mage.staging.datasektionen.se"
  mage_apikey: KEY
  mage_private_apikey: private_key
  #This is an unfortunate hack cause by the fact that there is no equivalence to activity_years on purchase_types in cashflow
  mage_activity_year: 2012

development: &development
  <<: *common
  ldap_host: localhost
  ldap_port: 9999

test:
  <<: *development

production:
  <<: *development
