%h1= @business_unit

%p
  %strong Aktiv:
  = @business_unit.active_text

%article= @business_unit.description

= render :partial => 'purchases/list', :locals => {:purchases => @business_unit.purchases}

