%footer.main
  %p Kontakta #{mail_to "kassor@d.kth.se", "kassören"} vid frågor. Skapad av #{link_to "Martin Frost", "http://www.d.kth.se/people/blame"} 2010. För att rapportera eventuella buggar, klicka #{link_to "här", "https://www.d.kth.se/redmine/projects/cashflow/issues/new"}.

